#main {
  margin-top: 80px;
}

#status {
  display: none;
}

#map {
  height: 50vw;
  width: 100%;
}

.navbar-brand {
  margin-left: 5%;
}

.card-extra {
  color: #7A7;
}

.nav-link.active {
  background-color: #111 !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}